mixin slider()
  section.slider
    div.slider__bg
    div.slider__wrapper
      div.slider__content
        h1 Дизайн интерьера <br>Строительство <br>Ремонт 
        h5 От идеи к комфорту
        h6 Салон-студия с уникальным <br>творческим пространством