mixin footer()
  footer.footer
    div.footer__container
      div.footer__content
        div.footer__logo
          a(href="/")
            img(src="./img/logo.svg")
        p jonDesign. © 2018 All Rights Reserved