mixin whyus()
  section.whyus
    div.whyus__container
      div.whyus__left
        div.whyus__about
          h3 Почему мы?
          span Потому что реально делаем и отвечаем за каждый сантиметр готового проекта
          p Мы предоставляем полный цикл работ от дизайна проекта до полной реализации, предоставляем полную базу исполнительных материалов.
        div.whyus__clients
          span Для наших клиентов и партнеров
          ul
            li 
              strong Шоу-рум с товарами
            li 
              strong Дизайн-студия со своим пространством
            li 
              strong Професиональная команда от дизайнера до прораба
      div.whyus__right
        img(src="./img/demo3.jpg")