mixin team()
  section.team
    div.team__container
      h5 Команда профессионалов
      p Принцип работы компании — сотрудничество, основанное на полном доверии
      div.pic__carousel#teamCarousel
        span.mdi.mdi-arrow-left-thick
        div.pic__gallery
          ul.pic__images
            li
              div.pic__image
                img(src="./img/team/3.jpg", alt="", srcset="")
                div.pic__info
                  p <span>Василий</span> <br> Мастер
            li
              div.pic__image
                img(src="./img/team/6.jpg", alt="", srcset="")
                div.pic__info
                  p <span>Александр</span> <br> Генеральный директор
            li
              div.pic__image
                img(src="./img/team/2.jpg", alt="", srcset="")
                div.pic__info
                  p <span>Дмитрий</span> <br> Дизайнер
            li
              div.pic__image
                img(src="./img/team/1.jpg", alt="", srcset="")
                div.pic__info
                  p <span>Катерина</span> <br> Менеджер
            li
              div.pic__image
                img(src="./img/team/4.jpg", alt="", srcset="")
                div.pic__info
                  p <span>Анатолий</span> <br> Прораб
            li
              div.pic__image
                img(src="./img/team/5.jpg", alt="", srcset="")
                div.pic__info
                  p <span>Виктория</span> <br> Дизайнер
        span.mdi.mdi-arrow-right-thick