mixin map()
  section.map
    div#map
    div.map__container
      div.map__left
        h6 Приезжайте в гости
        p пр. Ленина 20
        h6 Звоните
        p +38 (067) 111 11 90
        h6 Пишите
        p support@apple.com