mixin advantages()
  section.advantages
    div.advantages__wrapper
      //- div.advantages__left
      //-   img(src="./img/demo2.jpg")
      //- div.advantages__right
      div.advantages__inner
        div.advantages__title
          h5 <span>В ЧЕМ</span> ПРЕИМУЩЕСТВА ГОТОВОГО РЕШЕНИЯ?
        div.advantages__content
          div.advantages__info
            span 01
            span Въезжайте в дом через 3 месяца
            p Мы даем готовое решение по дизайну. Уже через неделю утвердим с вами индивидуальный проект под вашу планировку и бюджет. Сам ремонт займет не больше 90 дней
          div.advantages__info
            span 02
            span Фиксированная стоимость
            p Цена за квадратный метр капитального готового дизайнерского ремонта всего от 600$ с отделочными материалами, ремонтными работами, готовой мебелью
          div.advantages__info
            span 03
            span Понятные шаги
            p Мы разработали современный и универсальный стиль и точно знаем список материалов и сколько они стоят. Ремонт по готовому решению делается быстрее, цена известна уже на старте и не меняется в процессе
          div.advantages__info
            span 04
            span Экспертность
            p Полный авторский надзор, контроль за каждым этапом, контроль здоровья исполнителей, все это в комплексе с собственным производством дает полную гарантию соблюдения сроков, качества и стоимости