mixin about()
  section.about
    div.about__container
      div.about__img
        img(src="./img/demo/demo1.jpg")
        img(src="./img/demo/demo17.jpg")
      div.about__content
        div.about__header
          h5 О нас
          h6 Умеем слушать и слышать
          p Мы занимаемся любимым делом, которое делает нас счастливыми. Бросаем вызов самым нестандартным решениям!
        div.about__descr
          h5 Наш подход
          ul
            li 
              span Даем оправданные стоимости работ и защиту от непредвиденных трат
            li 
              span <strong>Только точные цифры</strong>. Прозрачное представление закупочных смет и соответствие озвученному бюджету
            li 
              span <strong>Гарантированный качественный результат</strong> — благодаря профессиональной команде, в штате которой дизайнеры и рабочие. Работаем над повышением квалификации. Все разнорабочие проходят контроль трезвости.
            li 
              span <strong>Точные сроки</strong>. Для нас это не пустой звук — полное планирование всего рабочего процесса и четкий регламент исполнения работ