mixin howworks()
  section.howworks
    div.howworks__container
      div.howworks__title
        h3 КАК РАБОТАЕМ
        span Идея. Поиск. Решение. Реализация
      div.howworks__structure
        div.howworks__item
          div.howworks__num
            span 01
          p Встреча с заказчиком, составление ТЗ на работу
        div.howworks__item
          div.howworks__num
            span 02
          p Выезд команды на замер объекта, составление обмерного плана
        div.howworks__item
          div.howworks__num
            span 03
          p Внесение заказчиком предоплаты за дизайн-проект
        div.howworks__item
          div.howworks__num
            span 04
          p Визуализация отрисовка интерьера, презентация и защита проекта
        div.howworks__item
          div.howworks__num
            span 05
          p Подготовка сметы и согласование материалов
        div.howworks__item
          div.howworks__num
            span 06
          p Предоплата за строительные работы и материалы
        div.howworks__item
          div.howworks__num
            span 07
          p Этап строительных работ
        div.howworks__item
          div.howworks__num
            span 08
          p Сдача объекта
      div.howworks__bottom
        span Вы цените качественный сервис?
        span А мы его гарантируем!