mixin askquestion()
  section.askquestion
    div.askquestion__container
      div.askquestion__left
        div.askquestion__left-title
          span Сомневаетесть?
          span Боитесь ошибиться?
          span Есть вопросы?
        div.askform
          div.askform__content
            h6 Задайте вопрос
            p и мы с удовольствием на него ответим
            form(action="", method="post")
              input(type="text" name="name" value="" size="40" placeholder="Имя")
              input(type="email" name="email" value="" size="40" placeholder="Email")
              textarea(name="message" cols="40" rows="10" placeholder="Сообщение")
              input(type="submit" value="Отправить").btn.btn-orange
      div.askquestion__right
        h5 Почему ремонт часто оборачивается "болью"?
        div.askquestion__content
          div.askquestion__accordion Какие гарантии даете на качество ремонта?
          div.askquestion__panel
            p Некачественный ремонт возможен, когда работают "непрофессионалы" и используются дешевые материалы или не соблюдаются нормы работ. 
            p Музей интерьеров - это только профессионалы своего дела с многолетним стажем. Все материалы закупаются с наличием соответствующих сертификатов качества. Гарантия на ремонт - от 10 лет после сдачи проекта!  
          div.askquestion__accordion Как я могу контролировать прозрачность расходов?
          div.askquestion__panel
            p Некоторые компании или "мастера на все руки" специально занижают стоимость, но зачастую, это оборачивается против заказчика. Итоговая смета после, начинает постоянно расти и может достичь 30-40%, по сравнению с исходной суммой, и требуются новые бюджеты. 
            p Мы даем точную смету без скрытых переплат и возможных расширений бюджетов. Экономим за счет компетентных работников, учета всех этапов и грамотной организации.
          div.askquestion__accordion Не всегда нужно делать дизайн-макет?
          div.askquestion__panel
            p Мы настоятельно рекомендуем начинать именно с разработки дизайна - это помогает точно рассчитать бюджет и обойти ошибки планировки, а также снижает риск несостыковки этапов работ.
          div.askquestion__accordion Проблемы с фантазией?!
          div.askquestion__panel
            p Многие люди не представляю проект без точной визуализации, а так же визуализация помогает подобрать интересующий материал. Мы профессионалы своего дела - придумаем, визуализируем и предложим лучшие варианты дизайна!
          div.askquestion__accordion Преимущества проработки дизайн-макета? Стоит ли тратить деньги?
          div.askquestion__panel
            p Данная услуга поможет сэкономить до 25% на смету итоговых работ. Вы не только получаете 3D визуализацию, но и рабочую схему всех разводок, работ, подбор материалов и мебели, а значит не будет непредвиденных растрат.