mixin reviews()
  section.reviews
    div.reviews__container
      h4 ОТЗЫВЫ<br> КЛИЕНТОВ
      div.pic__carousel#reviewsCarousel
        span.mdi.mdi-arrow-left-thick
        div.pic__gallery
          ul.pic__images
            li
              div.pic__image
                img(src="/img/demo1.jpg", alt="", srcset="")
                div.pic__info
                  p Сдача ремонтных работ квартиры под ключ
            li
              div.pic__image
                img(src="/img/demo2.jpg", alt="", srcset="")
                div.pic__info
                  p Сдача ремонтных работ квартиры под ключ
            li
              div.pic__image
                img(src="/img/demo3.jpg", alt="", srcset="")
                div.pic__info
                  p Сдача ремонтных работ квартиры под ключ
            li
              div.pic__image
                img(src="/img/demo4.jpg", alt="", srcset="")
                div.pic__info
                  p Сдача ремонтных работ квартиры под ключ
        span.mdi.mdi-arrow-right-thick