mixin reviews()
  section.reviews
    div.reviews__container
      h4 ОТЗЫВЫ<br> КЛИЕНТОВ
      div.pic__carousel#reviewsCarousel
        span.mdi.mdi-arrow-left-thick
        div.pic__gallery
          ul.pic__images
            li
              div.pic__image
                img(src="./img/demo/demo10.jpg", alt="", srcset="")
                div.pic__info
                  span Wilmer Fuentes
                  p The Video Mapping loops are fantastic! We have used in several shows and we always get great compliments. Highly recommendable!
            li
              div.pic__image
                img(src="./img/demo/demo14.jpg", alt="", srcset="")
                div.pic__info
                  span Paul Thompson
                  p Excellent visuals and an excellent customer service. Highly recomended.
            li
              div.pic__image
                img(src="./img/demo/demo16.jpg", alt="", srcset="")
                div.pic__info
                  span JOHANN MEDFORD
                  p Great company, great visuals. Very easy to work with... Will certainly reach out to them again. Greetings from the Caribbean.
            li
              div.pic__image
                img(src="./img/demo/demo13.jpg", alt="", srcset="")
                div.pic__info
                  span Matthias Schoffman
                  p Excelente trabajo , estoy muy feliz por lo que he comprando en limeartgroup, felicidades !
        span.mdi.mdi-arrow-right-thick