mixin learnus()
  section.learnus
    div.learnus__container
      div.learnus__header
        div.learnus__left
          h6 Узнайте больше о нас
          p Выберите тип проекта:
        div.learnus__right
          span Дизайн.
          span Строительство.
          span Ремонт.
      div.learnus__content
        div.learnus__item
          span 100%
          p завершенных заказов
        div.learnus__item
          div.learnus__img
            img(src="./img/icons/time.svg")
          div.learnus__descr
            p Срок реализации 
            span от 35 дней 
        div.learnus__item
          div.learnus__img
            img(src="./img/icons/company.svg")
          div.learnus__descr
            p Общая площадь проектов 
            span 25 000 кв.м.
        div.learnus__item
          div.learnus__img
            img(src="./img/icons/check-list.svg")
          div.learnus__descr
            p Опыт работы 
            span более 10 лет 
        div.learnus__item
          div.learnus__img
            img(src="./img/icons/salary.svg")
          div.learnus__descr
            p Стоимость реализации
            span от 400$ за 1 кв.м. "под ключ"