extends template

block content
  +subheader({
    titles: [
      {
        title: 'Контакты'
      }
    ],
    breadcrumbs: [
      {
        link: "/",
        name: "Главная"
      },
      {
        link: "/contact.html",
        name: "Контакты"
      }
    ],
    description: [
      {
        descr: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus cum quibusdam alias iste obcaecati ex odit nobis autem quam, adipisci optio fugit laborum, praesentium, impedit enim quis inventore itaque ratione?'
      }
    ]
  })
  +contact()