extends template

block content
  +slider()
  +consultation()
  +wecreate()
  +ourservices()
  +key()
  +advantages()
  +about()
  +learnus()
  +whyus()
  +howworks()
  +askquestion()
  +reviews()
  +team()
  +map()