mixin wecreate()
  section.wecreate
    div.wecreate__container
      div.wecreate__left
        div.wecreate__item
          p Мы создаем не только красивые и функциональные интерьеры, а воплощаем любые смелые идеи по понятной цене
        div.wecreate__item
            p Мы знаем 1000 и 1 способ создать совершенно неожиданные решения и воплотить самые смелые идеи
      div.wecreate__right
        img(src="./img/temp/wall.jpeg")
        div.wecreate__list#weCreateList
          div.wecreate__list-item.active
            span 01
            span Квартиры и дома
          div.wecreate__list-item
            span 02
            span Офисы
          div.wecreate__list-item
            span 03
            span Магазины и ТРЦ
          div.wecreate__list-item
            span 04
            span Рестораны и кафе