mixin head(data)
	title= data.title
	meta(charset="utf-8")
	
	meta(content=data.author name="author")
	meta(content=data.description name="description")
	
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(name="HandheldFriendly" content="true")
	meta(name="format-detection", content="telephone=no")
	meta(content="IE=edge" http-equiv="X-UA-Compatible")

	link(rel="shortcut icon", href="./favicon.png", type="image/x-icon")
	link(rel="apple-touch-icon", href="img/favicon/apple-touch-icon.png")
	link(rel="apple-touch-icon", sizes="72x72", href="")
	link(rel="apple-touch-icon", sizes="114x114", href="")
	link(rel="apple-touch-icon", sizes="144x144", href="")
	link(rel="apple-touch-icon", sizes="152x152", href="")
	link(rel="apple-touch-icon", sizes="180x180", href="")
	script(type='text/javascript' src="./js/assets/in-view.min.js")
