mixin ourservices()
  section.ourservices
    div.ourservices__container
      div.ourservices__left
        h6 Что мы предлагаем?
        p Мы предлагаем полный цикл услуг от разработки дизайна проекта до финальных ремонтных работ и меблировки
      div.ourservices__right
        div.ourservices__item
          div.ourservices__image
            img(src="./img/icons/005-tourist.svg")
          div.ourservices__content
            h6 Дизайн интерьера
            ul.ourservices__list
              li Планировочное решение
              li 3Д визуализация
              li Авторский надзор
              li Четрежи
        div.ourservices__item
          div.ourservices__image
            img(src="./img/icons/017-cheking.svg")
          div.ourservices__content
            h6 Строительство и ремонт
            ul.ourservices__list
              li Строительство домов
              li Ремонт магазинов
              li Ремонт ресторанов
              li Ремонт квартир
              li Ремонт офисов
              li Ремонт "под ключ"
        div.ourservices__item
          div.ourservices__image
            img(src="./img/icons/028-airport.svg")
          div.ourservices__content
            h6 Магазин товаров
            ul.ourservices__list
              li Освещение
              li Двери
              li Мебель
              li Напольное покрытие
              li Штукатурка
              li Текстиль
