mixin key()
  section.key
    div.key__container
      div.key__header
        div.key__title
          h6 ГОТОВЫЙ РЕМОНТ<br> ПОД КЛЮЧ
        div.key__variants
          a(href="#", data-id="1").active Brooklyn
          a(href="#", data-id="2") Belarus
      div.key__content
        div.key__left
          div.key__item-header
            h3 Brooklyn
            span 600 $
          ul.key__item-info
            li 
              span Дизайн-проект
            li 
              span Сантехнические работы под ключ
            li 
              span Наполные покрытия и двери
            li 
              span Текстить и оформление
            li 
              span Черновые и чистовые работы
            li 
              span Освещение и электрика
            li 
              span Меблировка
            li 
              span Уборка помещений
          div.key__item-price
            span 600 $
            p В цену входят все виды работ с расходными материалами и мебелью Въезжайте в готовый дом уже через 3 месяца
          a(href="/order.html") Оформить заказ
        div.key__right
          img(src="./img/demo2.jpg")